<nav class="navbar">
  <div class="container">
    <a routerLink="/" class="logo">Luxury & Gold</a>
    <div class="nav-links">
      <!-- Replace static category links with dynamic ones -->
      <a *ngFor="let category of categories" 
         style="margin-top: 3px;" 
         (click)="navigateToCategory(category.id)"
         [routerLink]="['/products', category.id]">
        {{ category.name }}
      </a>
      
      <div class="search-container" (mousedown)="keepDropdownOpen($event)">
        <a class="search-icon" (click)="toggleSearch()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </a>
        <div class="search-dropdown" *ngIf="isSearchOpen" data-aos="fade-down">
          <div class="search-input-container">
            <input 
              type="text" 
              placeholder="Search products..." 
              [(ngModel)]="searchTerm"
              (keyup.enter)="searchProducts()"
              #searchInput>
            <button class="btn btn-login" (click)="searchProducts()">Search</button>
          </div>
          <div class="search-results" *ngIf="searchResults && searchResults.length > 0">
            <div class="search-result-item" *ngFor="let product of searchResults" (click)="navigateToProduct(product.id)">
              <img [src]="'assets/' + product.image + '.jpg'" [alt]="product.name">
              <div class="product-info">
                <h4>{{ product.name }}</h4>
                <p>${{ product.sellingPrice.toFixed(2) }}</p>
              </div>
            </div>
          </div>
          <p class="no-results" *ngIf="searchResults && searchResults.length === 0">No products found</p>
        </div>
      </div>
      
      <!-- Rest of your navbar items -->
      <a routerLink="/cart" class="cart-link">
        <img src="assets/cartIcon.png" alt="Cart" class="cart-icon" />
        <span class="cart-count" *ngIf="cartItemCount !== null">{{ cartItemCount }}</span>
      </a>
      <div class="nav-item">
        <a routerLink="/login" *ngIf="!currentUser" class="btn btn-login">Login</a>
        <a mat-button [matMenuTriggerFor]="menu" *ngIf="currentUser" class="btn btn-profile">
          Profile
        </a>
      </div>
     
      <mat-menu #menu="matMenu" xPosition="after" >
        <button mat-menu-item routerLink="/profile">View Profile</button>
        <button mat-menu-item routerLink="/my-orders">My orders</button>
        <button mat-menu-item routerLink="/admin" *ngIf="authService.isAdmin()">Admin</button>
        <button mat-menu-item routerLink="/admin" *ngIf="authService.isEmployee()">Employee</button>
        <button mat-menu-item (click)="logout()" style="cursor: pointer">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>