.statistics-dashboard {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .statistics-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .date-inputs {
    display: flex;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input,
  .input-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .summary-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 60px;
  }
  
  .summary-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .detail-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .detail-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .detail-item strong {
    margin-bottom: 5px;
    color: #333;
  }
  
  .detail-item span {
    font-weight: bold;
    color: #666;
  }


  .admin-section .container.fixed-size {
    width: 900px; /* Adjust as needed */
    max-width: 100%;
    margin: 0 auto;
  }
  
  .statistics-content-wrapper {
    min-height: 500px; /* Fixed minimum height */
    max-height: 600px; /* Maximum height */
    overflow: auto; /* Add scrollbar if content exceeds max-height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .statistics-graph,
  .product-details,
  .statistics-summary {
    width: 100%;
    max-width: 800px;
    margin-top:20px;
  }
  
  .statistics-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; /* Match graph height or adjust as needed */
  }
  .back-button {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #f4f4f4;
    font-family: Roboto;
    border: none;
    font-size: 14px;
    cursor: pointer;

  }
  
  .back-button:hover {
    background-color: #f4f4f4;
  }