<app-navbar></app-navbar>
<section class="section login-section">
    <div class="container">
      <div class="login-container" data-aos="fade-up">
        <h2>Create Account</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" placeholder="Enter your full name" class="form-input">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" class="form-input">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="phoneNumber" id="phoneNumber" placeholder="Enter your phone number" class="form-input">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" class="form-input">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" placeholder="Confirm your password" class="form-input">
          </div>
          <button type="button" class="btn login-btn" routerLink="/login">Create Account</button>
          <p class="text-center mt-4">
            Already have an account? <a routerLink="/login" class="text-link">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </section>