<app-navbar></app-navbar>
<section class="section hero">
  <div class="container" data-aos="fade-up">
    <h1>Luxury Jewelry & Precious Metals</h1>
    <p>Discover our exclusive collection of fine jewelry, gold bars, and rare coins</p>
    <a routerLink="/jewelry" class="btn">Explore Jewelry Collection</a>
  </div>
</section>

<section class="home-section gold-prices">
  <div class="container">
    <h2 data-aos="fade-up">Today's Gold Prices</h2>
    <div class="gold-price-grid">
      <div class="gold-price-card" data-aos="fade-up">
        <img src="https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?w=500" alt="Gold Price Chart 1" class="gold-chart-image">
        <p class="gold-price-text">Today's price in USD/oz: {{ goldPriceInOunces | number: '1.2-2' }}</p>
      </div>
      <div class="gold-price-card" data-aos="fade-up">
       <app-gold-graph></app-gold-graph>
        <p class="gold-price-text">Today's price in USD/g: {{ goldPriceInGrams | number: '1.2-2' }}</p>
      </div>
    </div>
  </div>
</section>

<section id="products" class="products home-section">
  <div class="container">
    <h2 data-aos="fade-up">Our Premium Collection</h2>
    <div class="home-product-grid">
      <div class="product-card" data-aos="fade-up" data-aos-delay="100">
        <img src="https://images.unsplash.com/photo-1573408301185-9146fe634ad0?w=500" alt="Diamond Ring" class="product-image">
        <div class="product-info">
          <h3>Diamond Jewlery Collection</h3>
          <p>Diamond Luxury Collection</p>
          <a routerLink="/jewelry" class="btn">Learn More</a>
        </div>
      </div>

      <div class="product-card" data-aos="fade-up" data-aos-delay="200">
        <img src="https://images.unsplash.com/photo-1607344645866-009c320b63e0?w=500" alt="Gold Bar" class="product-image">
        <div class="product-info">
          <h3>24K Gold Bars</h3>
          <p>The Perfect Investments</p>
          <a routerLink="/gold-bars" class="btn">Learn More</a>
        </div>
      </div>

      <div class="product-card" data-aos="fade-up" data-aos-delay="300">
        <img src="https://images.unsplash.com/photo-1624365169364-0640dd10e180?w=500" alt="Gold Coin" class="product-image">
        <div class="product-info">
          <h3>Gold Sovereign Coin</h3>
          <p>Limited Edition Collection</p>
          <a routerLink="/gold-coins" class="btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
