<app-navbar></app-navbar>
<section class="section hero">
  <div class="container" data-aos="fade-up">
    <h1>Luxury Jewelry & Precious Metals</h1>
    <p>Discover our exclusive collection of fine jewelry, gold bars, and rare coins</p>
    <a routerLink="/category/1" class="btn">Explore Jewelry Collection</a>
  </div>
</section>

<section class="home-section gold-prices">
  <div class="container" *ngIf="!loading">
    <h2 data-aos="fade-up" *ngIf="goldPriceHistory">7-Day Gold Price Trend</h2>
    <div class="gold-price-grid" *ngIf="goldPriceHistory">
      <div class="product-card" data-aos="fade-up" data-aos-delay="100">
        <app-gold-graph [id]="1"></app-gold-graph> <!-- Gold Price per Gram -->
        <div class="product-info">
          <h3>Gold Price in USD/g: <span class="home-gold-price">${{ goldPriceHistory.priceGram | number: '1.2-2'
              }}</span></h3>
          <h4><span class="price">●</span>
            Daily Percentage Price Change:
            <span [ngClass]="{
                    'text-dark-red': goldPriceHistory.percentageChange < 0,
                    'text-dark-green': goldPriceHistory.percentageChange > 0
                }">
              {{ goldPriceHistory.percentageChange | number: '1.2-2' }}%
            </span>
          </h4>
          <h4 style="margin-bottom: 10px;"><span class="price">●</span> Data Provided Using <a class="home-gold-link"
              href="https://www.forex.com/en/gold-silver-trading/xau-usd/"
              target="_blank">{{goldPriceHistory.exchange}}</a> Exchange</h4>
        </div>
        <div *ngIf="loading">
          <p>Loading...</p>
        </div>
      </div>
      <div class="product-card" data-aos="fade-up" data-aos-delay="100">
        <app-gold-graph [id]="2"></app-gold-graph> <!-- Gold Price per Ounce -->
        <div class="product-info">
          <h3>Gold Price in USD/oz: <span class="home-gold-price">${{ convertGramsToOunces(goldPriceHistory.priceGram) |
              number: '1.2-2' }}</span></h3>
          <h4><span class="price">●</span> Timestamp: {{ goldPriceHistory.timestamp}}</h4>
          <h4><span class="price">●</span> Last time updated: {{ goldPriceHistory.date | date:'yyyy-MM-dd' }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="products" class="products home-section">
  <div class="container" *ngIf="!loading">
    <h2 data-aos="fade-up">Our Premium Collection</h2>
    <div class="home-product-grid">
      <div class="product-card" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/home1.jpg" alt="Diamond Ring"
          class="product-image">
        <div class="product-info">
          <h3>Diamond Jewlery Collection</h3>
          <p>Timeless Elegance In Every Cut</p>
          <a routerLink="/category/1" class="btn">Learn More</a>
        </div>
      </div>

      <div class="product-card" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/home4.jpg" alt="Gold Coin"
          class="product-image">
        <div class="product-info">
          <h3>World Class Gold Coins</h3>
          <p>Limited Edition Treasures</p>
          <a routerLink="/category/2" class="btn">Learn More</a>
        </div>
      </div>

      <div class="product-card" data-aos="fade-up" data-aos-delay="300">
        <img src="assets/home3.jpg" alt="Gold Bar"
          class="product-image">
        <div class="product-info">
          <h3>Pure Investment Gold Bars</h3>
          <p>Secure Wealth In Solid Form</p>
          <a routerLink="/category/3" class="btn">Learn More</a>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>