<!-- product-shop-list.component.html -->
<app-navbar></app-navbar>
<section class="section">
    <div class="container" *ngIf="!loading">
        <h2 data-aos="fade-up">{{categoryName}}</h2>
        <div *ngIf="!error" class="product-grid">
            <div class="product-card" data-aos="fade-up" [attr.data-aos-delay]="(50 * (i + 1))"
                *ngFor="let product of products; let i = index">
                <img *ngIf="loading" class="product-image" [src]="'assets/loading.gif'" alt="Loading...">
                <img *ngIf="!imageLoadFailedMap[product.id] && product.image" [src]="'assets/' + product.image + '.jpg'"
                    [alt]="product.name" class="product-image" (error)="onImageError(product.id)">
                <img *ngIf="imageLoadFailedMap[product.id] || !product.image" class="product-image"
                    [src]="'assets/loading.gif'" alt="Product image not available">
                <div class="product-info">
                    <h3>{{product.name}}</h3>
                    <p *ngIf="product.goldWeightInGrams"> Gold: {{product.goldWeightInGrams}} g</p>
                    <p>{{product.productState === 1 && product.stockQuantity > 0 ? 'Available' : 'Unavailable'}}</p>
                    <p class="price">Price: {{product.sellingPrice | currency}}</p>
                    <a [routerLink]="['/product-details', product.id]" class="btn">View Details</a>
                </div>
            </div>
        </div>

        <div *ngIf="products.length === 0 && !loading && !error" class="no-products">
            No products available in this category.
        </div>
        <div *ngIf="error" class="error-middle" data-aos="fade-up" >
            {{ error }}
        </div>
        <div  class="pagination" >
            <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">Next</button>
        </div>
    </div>

</section>
<app-footer></app-footer>