<!-- src/app/pages/gold-coins/gold-coins.component.html -->
<app-navbar></app-navbar>
<section class="section ">
  <div class="container">
    <h2 data-aos="fade-down">Gold Coins</h2>

    <div *ngIf="loading" class="loading-spinner">
    </div>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <div *ngIf="!loading && !error" class="product-grid">
      <div class="product-card" data-aos="fade-down" *ngFor="let product of products">
        <img *ngIf="product.image" [src]="'assets/' + product.image + '.jpg'" [alt]="product.name" class="product-image">
        <div *ngIf="!product.image" class="no-image">No image available</div>
        <div class="product-info">
          <h3>{{product.name}}: {{product.goldWeightInGrams}} g</h3>
          <p>{{product.productState === 1 ? 'Available' : 'Unavailable'}}</p>
          <p class="price">Price: {{product.sellingPrice | currency}}</p>
          <p class="stock" [ngClass]="{'low-stock': product.stockQuantity < 5}">
            {{ product.stockQuantity > 0 ? 'In Stock: ' + product.stockQuantity : 'Out of Stock' }}
          </p>
          <a [routerLink]="['/product-details', product.id]" class="btn">View Details</a>
        </div>
      </div>
    </div>

    <div *ngIf="totalPages > 1" class="pagination">
      <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">Next</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
