<app-navbar></app-navbar>
<div class="profile-container" >
      <div class="profile-card" data-aos="fade-up">
        <h2>Your Profile</h2>
        
        <div *ngIf="currentUser" class="user-details">
          <div class="profile-field">
            <label>Name</label>
            <p>{{ currentUser.name }}</p>
          </div>
          
          <div class="profile-field">
            <label>Email</label>
            <p>{{ currentUser.email }}</p>
          </div>

          <div class="profile-field">
            <label>Phone Number</label>
            <p>{{ currentUser.phoneNumber }}</p>
          </div>
          
          
          <div class="profile-field">
            <label>Last Modified</label>
            <p>{{ currentUser.lastModifyDate | date:'medium' }}</p>
          </div>
          
          <div class="button-group">
            <button routerLink="/edit-user-info"  class="btn btn-login">Edit Profile Information</button>
            <button class="btn btn-login">Change Password</button>
            <button class="btn btn-login" (click)="logout()">Logout</button>
          </div>
        </div>
        
        <div *ngIf="!currentUser" class="not-logged-in">
          <p>You are not logged in.</p>
          <a routerLink="/login" class="btn btn-login">Login</a>
        </div>
      </div>
    </div>
    <app-footer></app-footer>