<!-- src/app/pages/gold-coins/gold-coins.component.html -->
<app-navbar></app-navbar>
<section class="section ">
  <div class="container" *ngIf="!loading">
    <h2 data-aos="fade-down">Jewelry</h2>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <div *ngIf="!loading && !error" class="product-grid">
      <div class="product-card" data-aos="fade-down" *ngFor="let product of products">
        <img *ngIf="product.image" [src]="'assets/' + product.image + '.jpg'" [alt]="product.name" class="product-image">
        <div *ngIf="!product.image" class="no-image">No image available</div>
        <div class="product-info">
          <h3>{{product.name}}</h3>
          <p> Gold: {{product.goldWeightInGrams}} g</p>
          <p>{{product.productState === 1 && product.stockQuantity>0 ? 'Available' : 'Unavailable'}}</p>
          <p class="price">Price: {{product.sellingPrice | currency}}</p>
          <a [routerLink]="['/product-details', product.id]" class="btn">View Details</a>
        </div>
      </div>
    </div>

    <div *ngIf="totalPages > 1" class="pagination">
      <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">Next</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
