<app-navbar></app-navbar>
<section class="section product-detail">
  <div class="container" *ngIf="product">
    <p-toast position="top-center" closable="false"></p-toast>
    <router-outlet></router-outlet>
    <div class="product-detail-grid" data-aos="fade-up">
      <button class="back-button" (click)="goBack()">⬅ Back to {{getCategoryNameById()}} page</button>
      <div class="product-image-details-container">
        <div class="left-container">
          <h2>{{ product.name }}</h2>
          <p *ngIf="product?.categoryId==1" class="description">Finely Crafted Jewelry</p>
          <p *ngIf="product?.categoryId==2" class="description">Historic Gold Coin</p>
          <p *ngIf="product?.categoryId==3" class="description">Swiss Gold Bar</p>
        </div>

        <img *ngIf="product.image" [src]="'assets/' + product.image + '.jpg'" [alt]="product.name" class="left-image">
        <img *ngIf="!product?.image" class="left-image" [src]="'assets/loading.gif'">
        <div class="quantity-selector" style="margin-top:13%">
          <label for="quantity">Quantity:</label>
          <div class="quantity-input-group">
            <button class="btn-quantity" (click)="decreaseQuantity()" [disabled]="product.stockQuantity<=0">-</button>
            <input type="number" id="quantity" class="quantity-input" [min]="1" [max]="product.stockQuantity || 1"
              [(ngModel)]="quantity" [disabled]="product.stockQuantity<=0">
            <button class="btn-quantity" (click)="increaseQuantity()" [disabled]="product.stockQuantity<=0">+</button>
          </div>
        </div>
        <div >
          <div *ngIf="product.stockQuantity!=null && product.stockQuantity!=undefined" [ngClass]="{
            'out-of-stock': (product.stockQuantity) <= 0,
            'in-stock': (product.stockQuantity) > 0
          }">
            <button (click)="addToCart()" class="add-cart-btn" [disabled]="(product.stockQuantity) <= 0">
              {{ (product.stockQuantity) > 0 ? 'Add to Cart' : 'Out of Stock' }}
            </button>
          </div>


        </div>
      </div>

      <div class="product-info-container" *ngIf="product">
        <div class="details-section">
          <h3>Key Features</h3>
          <ul>
            <li class="description">LBMA certified {{ getProductTypeName(product.categoryId) }}</li>
            <li *ngIf="product?.categoryId==3" class="description">Individually serialized</li>
            <li *ngIf="product?.categoryId==2" class="description">Excellent collector's item</li>
            <li *ngIf="product?.categoryId==1" class="description">VS1 clarity, F color grade</li>
            <li class="description">Includes certificate of autenticity</li>
            <li class="description">Secure packaging</li>
          </ul>
        </div>

        <div class="specifications-section" *ngIf="product">
          <h3>Specifications</h3>
          <div class="specifications-grid">
            <div class="spec-item">
              <span class="spec-label">Gold Weight:</span>
              <span class="spec-label">{{ product.goldWeightInGrams }}g</span>
            </div>
            <div class="spec-item">
              <span class="spec-label">Purity:</span>
              <span *ngIf="product?.categoryId==3" class="spec-label">999.9 (24K)</span>
              <span *ngIf="product?.categoryId!==3" class="spec-label">916.7 (22K)</span>
            </div>
            <div class="spec-item">
              <span class="spec-label">Manufacturer:</span>
              <span *ngIf="product?.categoryId==2 || product?.categoryId==3 " class="spec-label">Swiss Bank
                Corporation</span>
              <span *ngIf="product?.categoryId==1" class="spec-label">LVMH. Paris, France</span>
            </div>
            <div class="spec-item">
              <span class="spec-label"> Certification:</span>
              <span class="spec-label"> LBMA Good Delivery</span>
            </div>
          </div>
        </div>

        <div class="product-details">
          <h3>Acquisition</h3>
          <div class="specifications-grid">
            <div class="spec-item">
              <span class="spec-label">Price:</span>
              <span class=" totalPrice">{{ product.sellingPrice | currency }}</span>
            </div>
            <div class="spec-item">
              <span class="spec-label">Stock:</span>
              <span *ngIf="product?.stockQuantity && product.stockQuantity > 0"
                class="totalPrice">{{product.stockQuantity }} Products</span>
              <span *ngIf="product.stockQuantity <= 0" class="totalPrice">Out of Stock</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>