<!-- auth-confirm-dialog.component.html -->
<p-dialog 
  [(visible)]="visible" 
  [style]="{width: '450px'}"
  header="Confirm set as employee!"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="custom-confirm-dialog"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [closable]="false"
  (onHide)="resetForm()">
  
  <div class="flex align-items-center">
    <i class="pi pi-exclamation-triangle mr-3 info-box"></i>
    <span>
        Admin Authentication Required!
    </span>
  </div>
  
  <div class="p-fluid mt-3">
    <form [formGroup]="authForm" autocomplete="off">
      <input type="text" style="display:none">
      <input type="password" style="display:none">
      
      <div class="field">
        <label for="adminEmail">Admin Email</label>
        <input 
          id="adminEmail" 
          type="email" 
          pInputText 
          formControlName="email"
          autocomplete="new-email"
        >
        <small *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="p-error">
          Please enter a valid email address
        </small>
      </div>
      
      <div class="field">
        <label for="adminPassword">Admin Password</label>
        <input 
          id="adminPassword" 
          type="password" 
          pInputText 
          formControlName="password"
          autocomplete="new-password"
        >
        <small *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched" class="p-error">
          Password is required
        </small>
      </div>
      
      <div *ngIf="errorMessage" class="p-error mt-2">
        {{errorMessage}}
      </div>
    </form>
  </div>
  
  <ng-template pTemplate="footer">
    <button 
      pButton 
      pRipple 
      icon="pi pi-times" 
      label="Cancel" 
      class=" custom-reject-btn" 
      (click)="hideDialog()">
    </button>
    <button 
      pButton 
      pRipple 
      icon="pi pi-check" 
      label="Authenticate" 
      class="custom-accept-btn" 
      [disabled]="authForm.invalid || loading"
      [loading]="loading"
      (click)="onConfirm()">
    </button>
  </ng-template>
</p-dialog>